<title>
    <%= title %>
</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<script src="https://kit.fontawesome.com/00d76a4bef.js" crossorigin="anonymous"></script>
<link rel='stylesheet' href='/stylesheets/style.css'>
<script src="/js/jquery.js"></script>


<%- include('header'); -%>
    <section class="featured">
        <div class="content-wrapper">
            <h1 id="myHeader" class="text-4xl">
                <%= title %>
            </h1>
        </div>
    </section>
    <div class="h-auto flex flex-col items-center justify-center m-auto pb-20">
        <% if(employeelist.length>0){ %>
            <table class="table-auto border">
                <thead>
                    <tr>
                        <th class="py-2 px-2 border-b">Name</th>
                        <th class="py-2 px-2 border-b">Joining year</th>
                        <th class="py-2 px-2 border-b">Gender</th>
                        <th class="py-2 px-2 border-b">Mobile no</th>
                        <th class="py-2 px-2 border-b">Remarks</th>
                        <th class="py-2 px-2 border-b">Action</th>
                    </tr>
                </thead>
                <tbody id="myTable" class="bg-sky-100">

                    <% for (var i=0; i<employeelist.length; i++){ %>
                        <tr class="hover:bg-sky-200">
                            <td>
                                <%= employeelist[i].emp_name %>
                            </td>
                            <td>
                                <%= employeelist[i].year_of_joining %>
                            </td>
                            <td>
                                <%= employeelist[i].gender %>
                            </td>
                            <td>
                                <%= employeelist[i].mob %>
                            </td>
                            <td>
                                <%= employeelist[i].remarks %>
                            </td>
                            <td>
                                <a href='/edit-empl/<%= employeelist[i].id %>'><i class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                        <% } %>

                </tbody>
                <tr >
                    <td colspan="6" class="py-3 px-4" > <a href="./employees"
                            class="bg-blue-400 hover:bg-blue-600 px-3 py-3 rounded-lg hover:rounded-full">Add new records</a></td>
                </tr>
            </table>
            <% } else { %>
                <h3 style="font:bold;color: darkred;font-family: monospace;">No records found</h3>
                <% } %>

    </div>
    <%- include('footer'); -%>