<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css'>


<%- include('header'); -%>
<section class="featured">
    <div class="content-wrapper">
        <h1 id="myHeader" class="text-4xl">
            <%= title %>
        </h1>
    </div>
</section>

<h2><%= title %></h2>

<%- include('footer'); -%>