<title>
    <%= title %>
</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<script src="https://kit.fontawesome.com/00d76a4bef.js" crossorigin="anonymous"></script>
<link rel='stylesheet' href='/stylesheets/style.css'>
<script src="/js/jquery.js"></script>
<%- include('header'); -%>

    <div class="flex-1 bg-cover bg-center" style="background-image: url('/images/signup.jpg');">
        <div class="flex items-center justify-center h-2/3 bg-black bg-opacity-50">
            <div class="bg-white p-8 w-96 rounded-lg shadow-lg opacity-80">
                <h2 class="text-2xl font-bold text-center mb-6 text-gray-700 hover:text-green-800">
                    <%= title %>
                </h2>
                <form action="/signup" method="post">
                    <div class="mb-4">
                    <label for="empname" class="block text-sm font-medium text-gray-700">Username</label>
                    <select id="empname" name="empname" required
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md focus:ring focus:ring-blue-500 focus:outline-none">
                        <option value=""> Select name</option>
                        <% for (var i=0; i<empdata.length; i++){ %>
                            <option value='<%= empdata[i].emp_name %>'>
                                <%= empdata[i].emp_name %>
                            </option>
                            <% } %>
                    </select>
                    </div>
                    <div class="mb-4">
                    <label for="txtpwd" class="block text-sm font-medium text-gray-700">Password:</label>
                    <input type="password" id="txtpwd" name="txtpwd" required
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md focus:ring focus:ring-blue-500 focus:outline-none">
                    </div>
                    <div class="mb-4">
                    <label for="txtcnfrmpwd" class="block text-sm font-medium text-gray-700">Confirm password:</label>
                    <input type="password" id="txtcnfrmpwd" name="txtcnfrmpwd" required
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md focus:ring focus:ring-blue-500 focus:outline-none">
                    </div>
                    <button type="submit"
                        class="bg-blue-400 text-sm py-2  mt-4 font-serif hover:bg-blue-500 rounded-lg w-full">Signup</button>
                </form>
            </div>
        </div>
    </div>
    <%- include('footer'); -%>